FORGE_DATABASE_URL=postgres://forge:forge@localhost:5432/forge?sslmode=disable
FORGE_LISTEN_ADDR=:8080
FORGE_LEASE_DURATION_SECS=30
FORGE_RECOVERY_INTERVAL_SECS=10
FORGE_POLL_INTERVAL_SECS=1
FORGE_WORKER_NAME=worker-1
FORGE_API_URL=http://localhost:8080
